$theme_color: #3488bf;

.mainContainer {
  letter-spacing: normal;
  margin-bottom: 22px;
  color: #636363;

  .seperator {
    display: flex;
    justify-content: center;

    hr {
      width: 90%;
      display: inline-block;
      margin: 10px 0;
    }
  }

  .mainCard {
    display: flex;
    position: relative;
    padding: 20px 0;

    .mainStats {
      text-align: center;
      position: relative;

      .answer {
        color: $theme_color;
        font-weight: 700;
        font-size: 16px;

        position: absolute;
        top: -22px;
        left: 0;
        right: 0;
      }

      .stats {
        flex-grow: 1;
        display: flex;
        justify-content: space-around;
        min-width: 200px;
        width: 100px;
        padding: 0 10px;

        > div {
          div:nth-child(1) {
            font-size: 20px;
          }

          div:nth-child(2) {
            font-size: 12px;
            line-height: 12px;
          }
        }
      }
    }

    .details {
      flex-grow: 2;
      padding-right: 30px;

      .title {
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;

        > a {
          color: $theme_color;
        }
      }

      .answer {
        white-space: pre-wrap;
        line-height: 10px;
        color: black;
      }

      .description {
        display: flex;
        justify-content: space-between;
        margin-top: 14px;

        .tagContainer {
          display: flex;
          flex-wrap: wrap;

          > div {
            margin-top: 4px;
            font-size: 10px;
            height: 20px;
            line-height: 20px;
            color: white;
            background-color: #636363;
            padding-left: 5px;
            padding-right: 5px;
            margin-right: 5px;
          }
        }

        .information {
          display: flex;
          align-items: center;
          margin-top: 2px;

          > svg {
            margin-right: 9px;
            color: #aaaaaa;

            &.highlight {
              color: $theme_color;
            }
          }

          > span {
            white-space: nowrap;

            > a {
              color: $theme_color;
            }
          }
        }
      }
    }

    .menu {
      color: #aaaaaa;
      position: absolute;
      top: 10px;
      right: 10px;
    }
  }
}
