$theme_color: #3488bf;

.mainContainer {
  letter-spacing: normal;

  .breadcrumbs {
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 14px;

    > a {
      color: #aaaaaa !important;
    }

    > span:last-child {
      color: $theme_color;
    }
  }

  .title {
    margin-top: 25px;
    color: $theme_color;
    font-size: 20px;
    font-weight: bold;
  }

  .stats {
    color: #636363;
    font-size: 12px;
    display: flex;
    margin-top: 15px;
    margin-bottom: 30px;

    > div {
      margin-right: 30px;

      > span {
        color: black;
      }
    }
  }

  .card {
    position: relative;
    display: flex;
    padding-top: 30px;
    padding-right: 62px;
    min-height: 200px;

    &.highlight {
      border: 2px solid #21a915;
    }

    .arrow {
      margin-top: 3px;
      margin-left: 20px;
      margin-right: 18px;
      width: 24px;
      text-align: center;

      %arrow {
        cursor: pointer;
        width: 0;
        height: 0;
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        border-top: 12px solid $theme_color;

        &.unvote {
          position: relative;
          border-top-color: #636363;

          &:after {
            position: absolute;
            left: -8px;
            top: -10.5px;
            content: '';
            width: 0;
            height: 0;
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
            border-top: 8px solid white;
          }

          &:hover {
            border-top-color: $theme_color;
          }
        }
      }

      .up {
        @extend %arrow;
        transform: rotateX(3.142rad);
      }

      .votes {
        margin: 5px 0;
        color: #636363;
        font-size: 20px;
      }

      .down {
        @extend %arrow;
      }

      svg {
        font-size: 23px;
        margin-top: 16px;
        color: #aaaaaa;

        &.highlight {
          color: #21a915;
        }

        &.clickable {
          cursor: pointer;
        }
      }
    }

    .main {
      margin-bottom: 52px;

      .text {
        font-size: 15px;
        line-height: 20px;
        color: black;
        white-space: pre-wrap;
      }

      .tags {
        margin-top: 16px;
        display: flex;
        flex-wrap: wrap;

        > div {
          margin-top: 4px;
          font-size: 10px;
          height: 20px;
          line-height: 20px;
          color: white;
          background-color: #636363;
          padding-left: 5px;
          padding-right: 5px;
          margin-right: 5px;
        }
      }

      .comments {
        margin-top: 30px;

        .add {
          cursor: pointer;
          font-size: 12px;
          color: $theme_color;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    .menu {
      position: absolute;
      top: 10px;
      right: 10px;
      color: #aaaaaa;
    }

    .user {
      position: absolute;
      z-index: -1;
      bottom: 0px;
      right: 0px;
      padding-top: 7px;
      padding-bottom: 10px;
      padding-left: 12px;
      padding-right: 13px;
      background-color: #fafafa;

      .time {
        font-size: 10px;
        line-height: 14px;
        margin-bottom: 8px;
      }

      .username {
        cursor: pointer;
        display: flex;
        justify-content: center;

        > div {
          margin-right: 8px;
        }

        > span {
          font-size: 12px;
          color: $theme_color;
        }

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .mid {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    margin-bottom: 20px;
    align-items: center;
    color: #636363;

    > span {
      font-size: 28px;
      font-weight: bold;
    }

    .buttons {
      display: flex;

      > div {
        cursor: pointer;
        font-size: 15px;
        padding: 9px 14px;
        background-color: rgba(0, 0, 0, 0);
        border: 2px solid #636363;
        border-right-width: 0px;

        &:last-child {
          border-right-width: 2px;
        }

        &.highlight {
          background-color: #636363;
          color: white;
        }
      }
    }
  }
}
